@use '../../styles/utils/mixins';

.accordion__container {
  @include mixins.flex(center, center, column);
  margin: mixins.clampCalculator(20px, 30px) auto 0;
  gap: mixins.clampCalculator(20px, 30px);
  max-width: 1023px;
}