@use '../../styles/utils/mixins';
@use '../../styles/utils/variables';

.tags__container {
  @include mixins.flex(unset, unset, false, wrap);
  gap: 10px;
}

.tag {
  @include mixins.flex(center, center);
  border-radius: mixins.clampCalculator(5px, 10px);
  min-width: mixins.clampCalculator(84px, 115px);
  height: mixins.clampCalculator(18px, 25px);
  padding: 0 mixins.clampCalculator(10px, 20px);
  background: #FF6060;
  font-weight: 500;
  font-size: mixins.clampCalculator(10px, 14px);
  color: variables.$footer-color;
}

