@use '../../styles/utils/mixins';

.name {
  font-weight: 500;
  font-size: mixins.clampCalculator(12px, 18px);
  line-height: mixins.clampCalculator(17px, 26px);
  text-align: right;

  & span {
    display: block;
  }
}

