@use '../../styles/utils/mixins';
@use '../../styles/utils/variables';

.cards__container {
  @include mixins.flex(unset, unset, false, true);
  margin-top: mixins.clampCalculator(22px, 40px);
  column-gap: variables.$cards-gap;
  row-gap: mixins.clampCalculator(20px, 37px);
  transition: padding 0.3s ease-in-out;

  @include mixins.media(desktop-large) {
    background: rgba(246, 246, 246, 1);
    padding: 56px 50px;
    border-radius: 25px;
  }
}