@use '../../styles/utils/mixins';
@use '../../styles/utils/variables';

.cards__container {
  @include mixins.flex(unset, unset, false, true);
  margin-top: clamp(22px, 3vw, 40px);
  column-gap: variables.$cards-gap;
  row-gap: clamp(20px, 2vw, 37px);

  @include mixins.media(desktop) {
    background: rgba(246, 246, 246, 1);
    padding: 56px 50px;
    border-radius: 25px;
  }
}