$max-width: 1440px;

$screen-sizes: (
        mobile: 376px,
        tablet: 768px,
        desktop: 992px,
        big-size: $max-width,
);

$primary-color: #FF6060;
$footer-color: #fff;
$cards-gap: 3%;
$card-radius: 10px;
