@use "../../styles/utils/mixins";

header {
  @include mixins.maxWidth();
  @include mixins.flex($justify: space-between);

  & nav {
    display: flex;
    gap: mixins.clampCalculator(10px, 57px);

    & .link {
      font-size: mixins.clampCalculator(12px, 24px);
      font-weight: 500;
      line-height: mixins.clampCalculator(17px, 34px);
      text-transform: uppercase;
      @include mixins.media(tablet) {
        text-transform: unset;
      }
    }
  }

  & a[aria-selected] {
    text-decoration-line: underline;
  }
}
