@use '../../styles/utils/variables';
@use '../../styles/utils/mixins';

.accordion {
  width: 100%;
  border-radius: 5px;

  &__header {
    @include mixins.flex(center, space-between);
    padding: 7px mixins.clampCalculator(10px, 25px) 7px mixins.clampCalculator(10px, 18px);
    background: variables.$primary-color;
    border-radius: inherit;
    cursor: pointer;

    &_title {
      color: #fff;
      font-weight: 500;
      font-size: mixins.clampCalculator(13px, 18px);
      line-height: mixins.clampCalculator(19px, 34px);
    }

    &_control {
      transition: all 400ms ease-in-out;

      &.rotate {
        transform: rotate(180deg);
      }

      & .arrow {
        width: mixins.clampCalculator(16px, 24px);
      }
    }
  }

  &__content {
    transition: all 400ms ease-in-out;
    background: #F7F7F7;
    border-radius: 0 0 5px 5px;
    overflow: hidden;

    &_text {
      font-size: mixins.clampCalculator(12px, 24px);
      line-height: mixins.clampCalculator(17px, 34px);
      padding: 20px 20px 10px;

      &_small {
        font-size: mixins.clampCalculator(12px, 18px);
        line-height: mixins.clampCalculator(17px, 26px);
      }
    }
  }
}

