@use '../../styles/utils/mixins';

.banner {
  position: relative;
  @include mixins.flex(center);
  padding: 0 5%;
  height: 111px;
  width: 100%;
  border-radius: 10px;
  z-index: 1;
  background: center / cover no-repeat;

  &.fixed_height {
    height: 223px;
  }

  @include mixins.media(tablet) {
    justify-content: center;
    border-radius: 25px;
    height: 223px;
  }

  & br {
    @include mixins.media(mobile) {
      display: none;
    }
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: inherit;
    z-index: -1;
  }

  & h1 {
    color: #fff;
    font-size: 24px;
    font-size: clamp(24px, 2vw + 1em, 48px);
    font-weight: 500;
    line-height: 24px;
    z-index: 100;
    @include mixins.media(big-size) {
      font-size: 48px;
    }
  }
}
