@use '../../styles/utils/mixins';

.lodging {
  &__title {
    font-size: mixins.clampCalculator(18px, 36px);
    line-height: mixins.clampCalculator(26px, 51px);
    font-weight: 500;
  }

  &__location {
    font-size: mixins.clampCalculator(14px, 18px);
    line-height: mixins.clampCalculator(20px, 26px);
    font-weight: 500;
  }

  &__host {
    &__container {
      @include mixins.flex(center, flex-end);
      gap: 10px;

      & img {
        width: mixins.clampCalculator(32px, 64px);
        aspect-ratio: 1 / 1;
        border-radius: 50%;
      }
    }
  }
}

.title__wrapper {
  margin-bottom: mixins.clampCalculator(17px, 25px);
  @include mixins.flex(unset, unset, column);
  gap: 10px;
}

.top__wrapper {
  margin-top: mixins.clampCalculator(15px, 25px);
  @include mixins.media(desktop) {
    @include mixins.flex(unset, space-between);
  }
}


.host__wrapper {
  @include mixins.flex(center, space-between);
  margin-bottom: mixins.clampCalculator(15px, 25px);
  @include mixins.media(desktop) {
    @include mixins.flex(flex-end, space-between);
    flex-direction: column-reverse;
  }
}

.accordion__container {
  @include mixins.flex(flex-start, center, column);
  margin: mixins.clampCalculator(20px, 30px) auto 0;
  gap: mixins.clampCalculator(20px, 75px);

  @include mixins.media(desktop) {
    margin-top: 0;
    flex-direction: row;
  }
}