@use "../../styles/utils/mixins";
@use "../../styles/utils/variables";

.error {
  @include mixins.maxWidth();
  //height: calc(100vh - variables.$footer-height);
  @include mixins.flex(center, center, column);
  min-height: 70vh;
  gap: 50px;
  text-align: center;
  padding-bottom: 1em;

  &__title {
    font-weight: 700;
    font-size: mixins.clampCalculator(96px, 288px);
    line-height: mixins.clampCalculator(137px, 411px);
  }

  &__text {
    font-weight: 500;
    font-size: mixins.clampCalculator(18px, 36px);
    line-height: mixins.clampCalculator(26px, 51px);
    padding: 0 20px;

    & span {
      display: block;
      @include mixins.media(mobile) {
        display: inline;
      }
    }
  }

  &__link {
    font-size: mixins.clampCalculator(14px, 18px);
    font-weight: 500;
    line-height: mixins.clampCalculator(20px, 26px);
    text-decoration: underline;
  }
}
